<div th:replace="~{fragments/_layout}"></div>

<main id="main" class="main">
    <div class="container my-2">
        <form th:action="@{/sales}"
              method="GET"
              class="form-inline mb-3">

            <!-- Filter by Production -->
            <div class="card">
                <div class="card-body">
                    <label>Categories a inclure :</label>
                    <ul>
                        <li th:each="productCategory : ${productCategoriesList}">
                            <input type="checkbox" name="selectedProductCategories"
                                   th:value="${productCategory.getId()}"/>
                            <span th:text="${productCategory.getName()}"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Filter by Ingredient -->
            <div class="card">
                <div class="card-body">
                    <label>Supplements a inclure :</label>
                    <ul>
                        <li th:each="ingredient : ${ingredientsList}">
                            <input type="checkbox" name="selectedIngredients"
                                   th:value="${ingredient.getId()}"/>
                            <span th:text="${ingredient.getName()}"></span>
                        </li>
                    </ul>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <table style="width:80%"
           class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Client</th>
            <th>Prix total</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="elmt:${salesList}">
            <td>
                <a th:href="@{/sales/{id}(id=${elmt.getId()})}"
                   th:text="${elmt.getId()}"></a>
            </td>
            <td th:text="${elmt.getDaty()}"></td>
            <td th:text="${elmt.getCustomerName()}"></td>
            <td th:text="${elmt.getTotalPrice()}"></td>
        </tr>
        </tbody>
    </table>
</main>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>
