<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Crustyz</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <h2>Update Unit</h2>

    <form th:action="@{/units/save}" th:object="${unit}" method="POST">
        <input type="hidden" th:field="*{id}" placeholder="Unit Name"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{name}" placeholder="Unit Name"
               class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">
            Submit update
        </button>
    </form>

    <hr>

    <a th:href="@{/units}"> Back to Unit List</a>
</div>
</body>
</html>
