<div th:replace="~{fragments/_layout}"></div>

<main id="main" class="main">
    <h2>Mise a jour prix produit</h2>

    <form th:action="@{/products/prices/save}" th:object="${productPrice}" method="POST" id="productPriceForm">
        <input type="hidden" th:field="*{id}">

        <div>
            <label class="col-md-3 control-label">Date</label>
            <input type="date" required th:field="*{addDate}" class="form-control mb-4 col-4">
        </div>

        <div>
            <label class="col-md-3 control-label">Prix Unite</label>
            <input type="number" th:field="*{val}" class="form-control mb-4 col-4">
        </div>

        <div class="form-group">
            <label for="productList" class="col-md-3 control-label">Produit</label>
            <div th:if="${productList != null and not #lists.isEmpty(productList)}" class="col-md-5">
                <select required th:field="*{product}" id="productList" class="form-control mb-4 col-4">
                    <option th:each="prod:${productList}"
                            th:value="${prod.getId()}"
                            th:text="${prod.getName()} + ' -- Pu: ' + ${prod.getUnitPrice()}"></option>
                </select>
            </div>
            <div th:if="${productList == null and #lists.isEmpty(productList)}">
                <p>Aucun Produit! <a th:href="@{/products/add}">Ajouter un produit?</a></p>
            </div>
        </div>

        <button type="submit" class="btn btn-success col-2">Valider</button>
    </form>
</main>

<div th:replace="~{fragments/footer}"></div>

</body>

</html>