<div th:replace="~{fragments/_layout}"></div>

<main id="main" class="main">
    <div class="my-2">
        <form th:action="@{/commissions}" method="GET" class="form-inline mb-3">
            <button type="submit" class="btn btn-primary">Filtrer</button>

            <div class="row g-10">
                <!-- Filter by date -->
                <div class="row g-10">
                    <div class="col-4 card px-3 py-3">
                        <label>Date d'achat Min :</label>
                        <input type="date" name="dateMin">
                    </div>
                    <div class="col-4 card px-3 py-3">
                        <label>Date d'achat Max :</label>
                        <input type="date" name="dateMax">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <table class="table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>Vendeur</th>
                <th>Total Vente</th>
                <th>Total commission</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="elmt:${commissionsList}">
                <td th:text="${elmt.getFullName()}"></td>
                <td th:text="${elmt.getTotalSales()}"></td>
                <td th:text="${elmt.getTotalCommission()}"></td>
            </tr>
        </tbody>
    </table>
</main>

<div th:replace="~{fragments/footer}"></div>

</body>

</html>