<div th:replace="~{fragments/_layout}"></div>

<main id="main" class="main">
    <div class="my-2">
        <form th:action="@{/commissions}" method="GET" class="form-inline mb-3">
            <button type="submit" class="btn btn-primary">Filtrer</button>

            <div class="row g-10">
                <!-- Filter by date -->
                <div class="row g-10">
                    <div class="col-4 card px-3 py-3">
                        <label>Date d'achat Min :</label>
                        <input type="date" name="dateMin">
                    </div>
                    <div class="col-4 card px-3 py-3">
                        <label>Date d'achat Max :</label>
                        <input type="date" name="dateMax">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <h2>Commissions par vendeur</h2>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Vendeur</th>
            <th>Commission</th>
            <th>Taux</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="elmt:${commissions}">
            <td th:text="${elmt.getSale().getEmployee().getFullName()}"></td>
            <td th:text="${elmt.getComission_amount()}"></td>
            <td th:text="${elmt.getTaux_comission()}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Commissions general par Sexe -->
    <h2>Etat des commissions par sexe</h2>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Sexe</th>
            <th>Total commission</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Homme</td>
            <td th:text="${generalComissions.get(0)}"></td>
        </tr>
        <tr>
            <td>Femme</td>
            <td th:text="${generalComissions.get(1)}"></td>
        </tr>
        </tbody>
    </table>
</main>

<div th:replace="~{fragments/footer}"></div>

</body>

</html>