<div th:replace="~{fragments/_layout}"></div>

<main id="main" class="main">
    <h2>Save Unit</h2>

    <form th:action="@{/units/save}" th:object="${unit}" method="POST">
        <input type="text" th:field="*{name}" placeholder="Unit Name"
               class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">
            Submit Save
        </button>
    </form>

    <hr>

    <a th:href="@{/units}"> Back to Unit List</a>
</main>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>
