<div th:replace="~{fragments/_layout}"></div>

<main id="main" class="main">
    <h3>Nos Unites</h3>

    <div class="container my-2" align="center">
        <form th:action="@{/units/search}" method="get" class="form-inline mb-3">
            <input type="text" name="searchCriteria" class="form-control mr-2" placeholder="Search by name">
            <button type="submit" class="btn btn-primary">Filtrer</button>
        </form>
    </div>

    <table style="width:80%"
           class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="unit:${unitsList}">
            <td th:text="${unit.getId()}"></td>
            <td th:text="${unit.getName()}"></td>

            <td>
                <a th:href="@{/units/update/{id}(id=${unit.getId()})}"
                   class="btn btn-primary">Update</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>

