<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Crustyz</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/henin/ajout-input-fille.js}"></script>
</head>
<body>
<div class="container">
    <h2>Save recipe</h2>
    <form th:action="@{/recipes/save}" th:object="${recipeDTO}" method="POST" id="recipeForm">
        <div>
            <div class="form-group">
                <label for="name" class="col-md-3 control-label">Nom recette</label>
                <input id="name" type="text" required
                       th:field="*{recipe.name}" class="form-control mb-4 col-4">
            </div>
            <div class="form-group">
                <label for="desc" class="col-md-3 control-label">Description</label>
                <textarea id="desc" type="text"
                          th:field="*{recipe.description}" class="form-control mb-4 col-4">
                </textarea>
            </div>
        </div>
        <hr>
        <div class="card">
            <div id="recipe_product" class="card-body">
                <!-- recipe details (this is the container where the dynamic details will be added) -->
                <h3>Ajouter des Produits de la recette</h3>
                <div id="filles_container_produit">
                    <div th:each="elmt, iterator :${recipeDTO.recipeProducts}"
                         th:id="'detail-' + iterator.index" class="fille_detail_produit">
                        <div class="form-group">
                            <label th:for="'qte-' + iterator.index"
                                   class="col-md-3 control-label">Quantité Produit</label>
                            <input th:id="'qte-' + iterator.index"
                                   th:field="*{recipeProducts[__${iterator.index}__].quantityProduced}"
                                   class="form-control mb-4 col-4" type="number" min="0">
                        </div>
                        <div class="form-group">
                            <label th:for="'productsList-' + iterator.index"
                                   class="col-md-3 control-label">Produit</label>
                            <select th:id="'productsList-' + iterator.index"
                                    th:field="*{recipeProducts[__${iterator.index}__].product}"
                                    class="form-control mb-4 col-4"
                                    required>
                                <option th:each="elmt:${productsList}"
                                        th:value="${elmt.getId()}"
                                        th:text="${elmt.getName()}  + '--' + ${elmt.getUnit().getSymbol()}"
                                        th:title="${elmt.getName()}  + '--' + ${elmt.getUnit().getSymbol()}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <hr>
                </div>
                <!-- Button to add a new recipe detail -->
                <button type="button" class="btn btn-secondary col-2" id="addFilleBtn_produit">Ajouter Produits</button>
            </div>
        </div>
        <hr>
        <div class="card">
            <div id="recipe_step" class="card-body">
                <!-- recipe details (this is the container where the dynamic details will be added) -->
                <h3>Ajouter des Etapes de la recette</h3>
                <div class="card">
                    <div id="filles_container_step" class="card-body">
                        <div th:each="elmt, iteratorStep :${recipeDTO.recipeSteps}"
                             th:id="'detail-' + iteratorStep.index" class="fille_detail_step">
                            <div class="form-group">
                                <label th:for="'anarana-' + iteratorStep.index"
                                       class="col-md-3 control-label">Nom de l'etape</label>
                                <input th:id="'anarana-' + iteratorStep.index"
                                       th:field="*{recipeSteps[__${iteratorStep.index}__].recipeStep.name}"
                                       class="form-control mb-4 col-4" type="text" required>
                            </div>
                            <div class="form-group">
                                <label th:for="'desc-' + iteratorStep.index"
                                       class="col-md-3 control-label">Description</label>
                                <textarea th:id="'desc-' + iteratorStep.index"
                                          th:field="*{recipeSteps[__${iteratorStep.index}__].recipeStep.description}"
                                          class="form-control mb-4 col-4">
                        </textarea>
                            </div>

                            <hr>

                            <div class="card">
                                <h6>Ingredients utilises pour cette etape</h6>
                                <div id="filles_container_ingredient" class="card-body">
                                    <div th:each="elmt, iteratorIngredient :${recipeDTO.recipeSteps[__${iteratorStep.index}__].rsIngredients}"
                                         th:id="'detail-' + iteratorIngredient.index" class="fille_detail_ingredient">
                                        <div class="form-group">
                                            <label th:for="'qte-' + iteratorIngredient.index"
                                                   class="col-md-3 control-label">Quantité Necessaire</label>
                                            <input th:id="'qte-' + iteratorIngredient.index"
                                                   th:field="*{recipeSteps[__${iteratorStep.index}__].rsIngredients[__${iteratorIngredient.index}__].quantityUsed}"
                                                   class="form-control mb-4 col-4" type="number" min="0">
                                        </div>
                                        <div class="form-group">
                                            <label th:for="'ingredientsList-' + iteratorIngredient.index"
                                                   class="col-md-3 control-label">Ingredient</label>
                                            <select th:id="'ingredientsList-' + iteratorIngredient.index"
                                                    th:field="*{recipeSteps[__${iteratorStep.index}__].rsIngredients[__${iteratorIngredient.index}__].ingredient}"
                                                    class="form-control mb-4 col-4">
                                                <option th:each="elmt:${ingredientsList}"
                                                        th:value="${elmt.getId()}"
                                                        th:text="${elmt.getName()}  + '--' + ${elmt.getUnit().getSymbol()}"
                                                        th:title="${elmt.getName()}  + '--' + ${elmt.getUnit().getSymbol()}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <!-- Button to add a new recipe ingredient -->
                                <button type="button" class="btn btn-primary mb-4" id="addFilleBtn_ingredient">
                                    Ajouter un Ingredient
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button to add a new recipe detail -->
                <button type="button" class="btn btn-secondary mb-4" id="addFilleBtn_step">Ajouter Une Etape</button>
            </div>
        </div>

        <button type="submit" class="btn btn-info col-2">Submit</button>
    </form>
    <hr>
    <a th:href="@{/recipes}"> Back to recipe List</a>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const containerName = 'filles_container';
        const childrenClass = '.fille_detail';
        const btnId = 'addFilleBtn';

        document.getElementById(`${btnId}_produit`).addEventListener('click', function () {
            ajouterInputFille(`${containerName}_produit`, `${childrenClass}_produit`);
        });

        document.getElementById(`${btnId}_step`).addEventListener('click', function () {
            ajouterInputFille(`${containerName}_step`, `${childrenClass}_step`);
        });

        document.getElementById(`${btnId}_ingredient`).addEventListener('click', function () {
            ajouterInputFille(`${containerName}_ingredient`, `${childrenClass}_ingredient`);
        });
    });
</script>
</html>
