<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Crustyz</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <h2>Update MvtStock</h2>

    <form th:action="@{/stocks/ingredients/mvt/save}" th:object="${mvtIngredientStock}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <input type="date" th:field="*{daty}" class="form-control mb-4 col-4">
        <input type="number" th:field="*{quantity}" min="0" class="form-control mb-4 col-4">

        <div class="form-group">
            <label for="ingredientsList" class="col-md-3 control-label">Ingredients</label>
            <div th:if="${ingredientsList != null and not #lists.isEmpty(ingredientsList)}" class="col-md-5">
                <select required th:field="*{ingredient}" id="ingredientsList" class="form-control mb-4 col-4">
                    <option th:each="ingredient:${ingredientsList}"
                            th:value="${ingredient.getId()}" th:text="${ingredient.getName()}"></option>
                </select>
            </div>
            <div th:if="${ingredientsList == null and #lists.isEmpty(ingredientsList)}">
                <p>No ingredient found! <a th:href="@{/ingredients/add}">Add Ingredient?</a></p>
            </div>
        </div>

        <div class="form-group">
            <label for="mvtStockTypesList" class="col-md-3 control-label">Mvt Type</label>
            <div th:if="${mvtStockTypesList != null and not #lists.isEmpty(mvtStockTypesList)}" class="col-md-5">
                <select required th:field="*{mvtStockType}" id="mvtStockTypesList" class="form-control mb-4 col-4">
                    <option th:each="mvtType:${mvtStockTypesList}"
                            th:value="${mvtType.getId()}" th:text="${mvtType.getName()}"></option>
                </select>
            </div>
            <div th:if="${mvtStockTypesList == null and #lists.isEmpty(mvtStockTypesList)}">
                <p>No mvtType found! <a th:href="@{/mvtStockTypes/add}">Add Mvt Type?</a></p>
            </div>
        </div>

        <button type="submit" class="btn btn-info col-2">
            Submit update
        </button>
    </form>

    <hr>

    <a th:href="@{/stocks/ingredients/mvt}"> Back to MvtStock List</a>
</div>
</body>
</html>
