<div th:replace="~{fragments/_layout}"></div>

<main id="main" class="main">
    <h2>Etat de notre stock d'ingredients</h2>

    <div class="my-2 mb-3">
        <form th:action="@{/stocks/ingredients}" method="GET">
            <div>
                <label for="" class="col-md-3 control-label">Ingredient</label>
                <input type="text" name="nomIngredient" class="form-control mr-2" placeholder="Filtrer par nom">
            </div>

            <button type="submit" class="btn btn-success col-4">Filtrer</button>
        </form>
    </div>

    <table class="table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>#</th>
                <th>Ingredient</th>
                <th>En stock</th>
                <th>Unite</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="elmt:${ingredientStocksList}">
                <td>
                    <a th:href="@{/stocks/ingredients/{id}(id=${elmt.getId()})}" th:text="${elmt.getId()}"></a>
                </td>
                <td th:text="${elmt.getIngredient().getName()}"></td>
                <td th:text="${elmt.getQuantity()}"></td>
                <td th:text="${elmt.getIngredient().getUnit().getName()}"></td>
            </tr>
        </tbody>
    </table>
</main>

<div th:replace="~{fragments/footer}"></div>

</body>

</html>